.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #8a2be2; /* Ljubičasta nijansa */
  color: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
}

.site-name {
  font-size: 1.5rem;
  margin-left: 10px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-icon {
  font-size: 1.2rem;
  margin-right: 5px;
}

input {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.cart-container {
  display: flex;
  align-items: center;
}

.cart-icon {
  font-size: 1.2rem;
  margin-right: 15px;
}

.sign-in-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.sign-in-button:hover {
  background-color: #fff;
  color: #8a2be2;
}

.logo-image {
  width: 50px; /* Prilagodite veličinu prema potrebi */
  height: auto;
  margin-right: 10px;
}

